header
{
    background-color:#213;
    height:10%;
    width:85.5%;
    float:right;
    overflow:auto;
}
#a2
{
    color:#000;
    background-color:rgba(255, 255, 255, 0);
    text-decoration:underline;
}
a
{
    color:#BBAA77;
    height:20%;
    background-color:#335;
    width:50%;
    text-decoration:none;
    font-size: 150%;
    border-radius:5px;
}
a:hover
{
    background-color:#557;
    transition:0.5s;
}
a:active
{
    background-color:#557;
    transition:0.5s;
}
nav
{
    height:30%px;
    width:95%;
    background-color:#224;
    margin-top:10%;
}
#navimg
{
    width:15%;
    margin-top:10%;
}
#hdrimg
{
    float:right;
    margin-top:0;
    width:10%;
}
#hdrimg2
{
    float:right;
    margin-top:1%;
}

div
{
    height:100%;
    width:14%;
    background-color:#224;
    overflow:auto;
    float:left;
    padding-left:0.5%;
} 
article
{
    height:89.3%;
    width:85.15%;
    background-color:#abb;
    margin-left:14.5%;
    padding-left:5px;
    padding-top:5px;
}
footer
{
    background-color:#213;
    height:10%;
    width:85.5%;
    margin-left:14.5%;
}
.navtxt
{
    color:#BBAA77;
    font-size:95%;
}
.sbhdingtxt
{
    color:#221;
    font-size:215%;
    font-weight:bold;
}
.bodytxt
{
    color:#110;
    font-size:120%;
}
