header
{
    background-color:#213;
    height:10%;
    width:85.5%;
    float:right;
    overflow:auto;
}
a
{
    color:#BBAA77;
    height:20%;
    background-color:#335;
    width:50%;
    text-decoration:none;
    font-size: 150%;
    border-radius:5px;
}
a:hover
{
    background-color:#557;
    transition:0.5s;
}
a:active
{
    background-color:#557;
    transition:0.5s;
}
nav
{
    height:30%px;
    width:95%;
    background-color:#224;
    margin-top:10%;
}
#navimg
{
    width:15%;
    margin-top:10%;
}
#hdrimg1
{
    float:right;
    margin-top:1%;
}
#hdrimg2
{
    float:right;
    margin-top:1%;
    width:15%;
}
div
{
    height:100%;
    width:14%;
    background-color:#224;
    overflow:auto;
    float:left;
    padding-left:0.5%;
} 
article
{
    height:90%;
    width:85.5%;
    background-color:#abb;
    margin-left:14.5%
}
footer
{
    background-color:#213;
    height:10%;
    width:85.5%;
    margin-left:14.5%;
}
.navtxt
{
    color:#BBAA77;
    font-size:95%;
}

